header {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-attachment: fixed;
}
h1 {
	color:white;
}
p.text-white-50 {
color: rgba(255, 255, 255, 1.0) !important;
}
.col:hover{
	box-shadow:10px 10px 5px rgba(0,0,0,0,8);
}