header {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-attachment: fixed;
}
h1,p.lead {
	text-align: center;
}
div.feature {
	background-color: #FF9D6F!important;
}
h2.h5 {
	font-weight:bolder;
}
div#good {
	background-image: url(../assets/back.png)!important;
}

div#hsu {
	background-color:red!important;
}
div#lin {
	background-color:#b07a1c!important;
}
span#storename {
	font-weight:600!important;
}
#white {
	color:white!important;
}
div#haha {
	font-size:12px!important;
}
.col-lg-4 mb-5:hover{
	transform:scale(1.2);
}