header {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-attachment: fixed;
}
h1,p.lead {
	text-align: center;
}
div.feature {
	background-color: #FF9D6F!important;
}
h2.h5 {
	font-weight:bolder;
}
div#good {
	background-image: url(../assets/back.png)!important;
}
nav {
	background-color:#5A3D26!important;
}
div#hsu {
	background-color:red!important;
}
div#lin {
	background-color:#211200!important;
}
span#storename {
	font-weight:600!important;
}