span#title1, #title2, #title3 {
	font-size:35px;
}
ul {
	list-style-type: circle!important;
}
ul#h {
	list-style: none!important;
}
.card {
	opacity:0.7;
}
.card:hover {
	opacity:1;
}
.card:hover {
	background-color:#fffae8;
}