h2 {
	font-size:30px;
}
ol {
    list-style-type: circle;
}
div#two {
	text-align:left;
}
div#blue {
	background-color: blue!important;
}
ul#information {
	list-style:none;
	line-height:50px;
}
ul#title {
	line-height:40px;
}
section#scroll-target{
	background-color: #9eb1eb!important;