h2 {
	font-size:30px;
}
ol {
    list-style-type: circle;
}
div#two {
	text-align:left;
}
div#green {
	background-color: #9F5000!important;
}
ul#information {
	list-style:none;
	line-height:50px;
}
ul#title {
	line-height:40px;
}
section#scroll-target{
	background-color: #DFD3C3!important;
}
.shadowbox {
  width: 15em;
  border: 1px solid #FFECEC;
  box-shadow: 5px 5px 8px #444;
  padding: 8px 12px;
  background-color:	#DFD3C3;
  border-radius:10px;
}