h2 {
	font-size:30px;
}
ol {
    list-style-type: circle;
}
div#two {
	text-align:left;
}
div#o {
	background-color: #FFE153!important;
}
ul#information {
	list-style:none;
	line-height:50px;
}
ul#title {
	line-height:40px;
}
section#scroll-target{
	background-color: #FFEEDD!important;
}
#menu {
	font-size:20px!important;
}
.shadowbox {
  width: 15em;
  border: 1px solid ##FFEEDD;
  box-shadow: 5px 5px 8px #444;
  padding: 8px 12px;
  background-color:	##FFEEDD;
  border-radius:10px;
}
